/* Estilos generales para el cuerpo */
body {
    font-family: 'Arial', sans-serif; /* Fuente principal */
    background-color: #f8f9fa; /* Color de fondo */
    margin: 0; /* Eliminar márgenes por defecto */
    padding: 0; /* Eliminar relleno por defecto */
}

/* Contenedor principal para la lista */
.listar-container {
    max-width: 900px; /* Ancho máximo del contenedor */
    margin: 50px auto; /* Centrar el contenedor horizontalmente y agregar margen superior */
    padding: 10px; /* Espacio interno */
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra alrededor del contenedor */
}

/* Estilos para el encabezado dentro del contenedor */
.listar-container h1 {
    color: #333; /* Color del texto */
    font-size: 30px; /* Tamaño de fuente */
    margin-bottom: 20px; /* Espacio debajo del encabezado */
    display: flex; /* Usar flexbox para centrar el contenido */
    align-items: center; /* Alinear verticalmente el contenido */
    justify-content: center; /* Centrar el contenido horizontalmente */
    font-weight: bold;
    text-align: center;
}

/* Espaciado entre el icono y el texto del encabezado */
.listar-container h1 i {
    margin-right: 10px;
    
}

/* Estilos generales para alertas */
.alert {
    padding: 15px; /* Espacio interno */
    margin-bottom: 20px; /* Espacio debajo de la alerta */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilos específicos para alertas de éxito */
.alert-success {
    color: #155724; /* Color del texto */
    background-color: #d4edda; /* Color de fondo */
    border-color: #c3e6cb; /* Color del borde */
}

/* Estilos específicos para alertas de error */
.alert-danger {
    color: #721c24; /* Color del texto */
    background-color: #f8d7da; /* Color de fondo */
    border-color: #f5c6cb; /* Color del borde */
}

/* Estilos específicos para botones */
.btn {
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    color: #fff; /*Color del texto */
    padding: 8px 13px;/* Espacio interno */
    cursor: pointer; /* Manita al pasar el cursor */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
}

/* Estilos específicos para el botón de acción principal (Crear) */
.btn-primary {
    background-color: #7a7d83; /* Color de fondo */
}

/* Estilos específicos para el botón de acción de peligro (Eliminar) */
.btn-danger {
    background-color: #d82d3e; /* Color de fondo */
}

/* Estilos para la tabla */
.table {
    width: 100%; /* Ancho completo */
    margin-bottom: 1rem; /* Espacio debajo de la tabla */
    color: #212529; /* Color del texto */
    border-collapse: separate; /* Separación de bordes */
    border-spacing: 0; /* Sin espacio entre celdas */
    border-radius: none; /* Bordes redondeados */
    overflow: hidden; /* Ocultar contenido desbordante */
}

/* Estilos para las celdas de la tabla */
.table th, .table td {
    border: 1px solid #dee2e6; /* Borde de las celdas */
    padding: 10px; /* Espacio interno */
    text-align: center; /* Alinear el texto al centro */
}

/* Estilos para las cabeceras de la tabla */
.table th {
    background-color: #007bff; /* Color de fondo de las cabeceras */
    color: #fff; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}

/* Estilos para las celdas del cuerpo de la tabla */
.table td {
    vertical-align: middle; /* Alinear verticalmente al centro */
}

/* Estilos para las cabeceras del thead de la tabla */
.table thead th {
    background-color: #007bff; /* Color de fondo de las cabeceras */
    color: #fff; /* Color del texto */
    border-bottom: 2px solid #097efc; /* Borde inferior */
}

/* Estilos para la cabecera del modal */
.modal-header {
    background-color: none; /* Color de fondo */
    color: none; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}

/* Estilos para el título del modal */
.modal-title {
    margin: 0 auto; /* Centrar horizontalmente */
    color: #110e0e;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

/* Estilos para los controles del formulario */
.form-control {
    margin-bottom: 15px; /* Espacio debajo de cada control */
    border-radius: 5px; /* Bordes redondeados */
}
